@page
@model LoveWordsModel
@{
    ViewData["Title"] = "Я тебя люблю на разных языках";
}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <style>
        body {
            background-color: #ffccff;
            font-family: Arial, sans-serif;
            text-align: center;
            padding: 50px;
        }
    </style>
</head>
<body>
    <h1>Я тебя люблю </h1>
    <p>Я тебе кохаю</p>
    <p>I love you</p>
    <p>Je t'aime</p>
    <p>Ich liebe dich</p>
    <p>Ti amo</p>
    <p>Te quiero</p>
    <p>Amo-te</p>
    <p>我爱你</p>
    <p>愛してる</p>
    <p>Saya cinta padamu</p>
    <p>Eu te amo</p>
    <p>Мин сине яратам</p>
    <p>Seni seviyorum</p>
    <p>Aš tave myliu</p>
    <p>Volim te</p>
    <p>Обичам те</p>
    <p>Kocham cię</p>
    <p>Szeretlek</p>
    <p>Jeg elsker deg</p>
    <p>Ég elska þig</p>
    <p>Te iubesc</p>
    <p>Es tevi mīlu</p>
    <p>Ek hou van jou</p>
    <p>Ngiyakuthanda</p>
    <p>Te dua</p>
    <p>Ich ha di gärn</p>
    <p>Volim te</p>
    <p>T'estimo</p>
    <p>Is tú mo ghrá</p>
    <p>Eg elski teg</p>
    <p>Мен сені сүйемін</p>
    <p>Ninakupenda</p>
    <p>Kuv hlub koj</p>
    <p>Szeretlek</p>
    <p>أحبك</p>
    <p>Mahal kita</p>
    <p>Ek is lief vir jou</p>
    <p>Saranghae</p>
    <p>Волим те</p>
    <p>Ik hou van jou</p>
    <p>Tôi yêu bạn</p>
    <p>Мин яратам сине</p>
    <p>Kea u rata</p>
    <p>אני אוהב אותך</p>
    <p>Mi amas vin</p>
    <p>Saya sayang kamu</p>
    <p>Kimi o aishiteru</p>
    <p>म तिमीलाई माया गर्छु</p>
    <p>Doset daram</p>
    <p>Amo-te</p>
    <p>Taim i ngrá leat</p>
    <p>Eg elska teg</p>
    <p>Te amo</p>
    <p>T'estim</p>
    <p>Love ya</p>
    <p>အချစ်တော်</p>
    <p>Tôi yêu bạn</p>
    <p>Aku cinta padamu</p>
    <p>Yêu bạn</p>
    <p>Sinä olet rakastettu</p>
    <p>Tofaufi le tusitala</p>
    <p>Aku tresna awakmu</p>
    <p>Ana behibek</p>
    <p>Lubim ta</p>
    <p>Я сени сүйемін</p>
    <p>Te sakke</p>
    <p>Mi amas vin</p>
    <p>Eu te amo</p>
    <p>Te amo</p>
    <p>Te amo</p>
    <p>Is tú mo ghrá</p>
    <p>Ai caramia</p>
    <p>Is tú mo ghrá</p>
    <p>Ярни бағышлай</p>
    <p>Te iubesc</p>
    <p>Te sakke nang</p>
    <p>Lubim ta</p>
    <p>Tu merti vi</p>
    <p>Я люблю тебя</p>
    <p>J't'aime</p>
    <p>Jag älskar dig</p>
    <p>Szeretlek</p>
    <p>Ik hou van jou</p>
    <p>Amo-te</p>
    <p>Volim te</p>
    <p>Kea o rata</p>
    <p>Mi amas vin</p>
    <p>Tú mo ghra</p>
    <p>愛してる</p>
    <p>Tebje ja lubiu</p>
    <p>Tu merti</p>
    <p>Saya cinta padamu</p>


</body>
</html>
