@page
@model WordsModel
@{
    ViewData["Title"] = "Ещё пару добрых слов";
}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <style>
        body {
            background-color: #ffccff;
            font-family: Arial, sans-serif;
            text-align: center;
            padding: 50px;
        }
    </style>
</head>
<body>
    <h1>Ещё немного приятных слов </h1>
    <p> С каждым мгновением нашего общения я всё больше осознаю, как глубоки мои чувства к тебе. Ты — невероятно милая и добрая девушка, и для меня ты словно лучик света, который наполняет мою жизнь теплом и радостью. Я часто вспоминаю наши разговоры, как мы делимся мыслями и смеёмся друг с другом — каждый миг с тобой приносит мне счастье и уют.

        Ты умеешь быть настоящей, и это качество восхищает меня. Я вижу, насколько ты сильная и умная, и это делает тебя ещё более особенной в моих глазах. Я мечтаю о том, чтобы однажды мы встретилис и очень крепко обнялсь. Да возможно действительно шанс этого очень и очень низок, но никогда не равен нулю. и может я и правда очень наивен, но я не перестану верить в то что это станет возможно.

        Несмотря на расстояние, моя любовь к тебе лишь крепче. Я всегда буду рядом, поддерживая тебя и наполняя твои дни теплом и светом. Мне важно, чтобы ты знала: ты для меня очень дорога, и я хочу, чтобы ты чувствовала себя счастливой и любимой. Ты — моя единственная, и с каждым днём я всё больше понимаю, как важна ты для меня. Я уверен, что впереди у нас ждут только светлые моменты, и я готов сделать всё, чтобы мф были счастливы! ♥♥♥ </p>
</body>
</html>
